body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th {
    background-color: #1e3a8a;
    color: white;
    padding: 10px;
}

td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}